:root {
    --max-width: 1440px;
    --sec-width: 89%;
    --sec-max-width: 1280px;
    --black: #444C55;
    --black-light-20: rgb(54, 54, 54, 0.20);
    --white: #FFFFFF;
    --white-66: rgba(255, 255, 255, 0.66);
    --main-color: #154994;
    --dark-blue: #011D45;
    --accent-color: #218CD9;
    --light-blue: #8BE6F7;
    --bg-color: #F2F3F4;
    --shadow-1: 0px 3px 6px var(--black-light-20);
}

@font-face {
    font-family: Heebo;
    src: url("assets/fonts/Heebo.ttf") format("trueType");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ZenKakuGothicNew-Black;
    src: url("assets/fonts/ZenKakuGothicNew-Black.ttf") format("trueType");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ZenKakuGothicNew-Bold;
    src: url("assets/fonts/ZenKakuGothicNew-Bold.ttf") format("trueType");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ZenKakuGothicNew-Light;
    src: url("assets/fonts/ZenKakuGothicNew-Light.ttf") format("trueType");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ZenKakuGothicNew-Medium;
    src: url("assets/fonts/ZenKakuGothicNew-Medium.ttf") format("trueType");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ZenKakuGothicNew-Regular;
    src: url("assets/fonts/ZenKakuGothicNew-Regular.ttf") format("trueType");
    font-style: normal;
    font-display: swap;
}

body {
    background: var(--bg-color);
    font-family: ZenKakuGothicNew-Medium, sans-serif;
    font-size: 16px;
    line-height: 1.35;
    color: var(--black);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--white-66);
    -webkit-backdrop-filter: blur(30px) brightness(130%);
    backdrop-filter: blur(30px) brightness(130%);
}

.logo {
    height: 55px;
    aspect-ratio: 186 / 55;
    margin-left: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
    max-height: 100%;
}

.nav-links-inner {
    display: flex;
    gap: 40px;
}

.nav-button {
    padding: 31px 60px 34px 60px;
    background: linear-gradient(140deg, var(--accent-color) -10%, var(--light-blue) 200%);
    font-family: ZenKakuGothicNew-Bold, sans-serif;
    font-size: 20px;
    color: var(--white);
    box-shadow: var(--shadow-1);
}